.header {
  position: relative;
}

.header__nav {
  position: fixed;
  top: 0;
  font-size: 0.9rem;
  padding: 0 80px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header__ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__li {
  margin-left: 24px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.header__li::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -12px;
  transform: scale(0, 1);
  transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}

.header__li:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  transform-origin: left top; /*左から右に向かう*/
}

.header__li_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  background: #212121;
  color: #fff;
  width: 160px;
  height: 48px;
  cursor: pointer;
  border: 1px solid #212121;
  transition: 0.3s all;
  border-radius: 4px;
  box-shadow: 6px 6px 23px -13px #c2c2c2;
}

.header__li_02:hover {
  background: #fff;
  color: #212121;
}

.header__li_03 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  background: #ffec3f;
  color: #fff;
  width: 160px;
  height: 48px;
  cursor: pointer;
  border: 1px solid #ffec3f;
  transition: 0.3s all;
  border-radius: 4px;
  box-shadow: 6px 6px 23px -13px #c2c2c2;
}

.header__li_03:hover {
  background: #fff;
  color: #212121;
}

/* メインビジュアル */

.mainvisual {
  width: 100vw;
  height: 100vh;
  background-image: url('/main_img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: -10;
}
.mainvisual::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.34);
}
.mainvisual_textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
}
.mainvisual h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Futura', sans-serif;
  letter-spacing: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.mainvisual p {
  font-size: 18px;
  color: #fff;
}
.mainVisual_img {
  margin-bottom: 24px;
}
